<%- include('includes/head.ejs') %>
    <form action="/add-user" method="POST">
        <input type="text" name="username">
        <button type="submit">add user</button>
        <%- include('includes/end.ejs') %>